/* Gen CSS */
body {
	font-family: Arial, helvetica, san-serif;
	padding-top: 100px;
	color: #333;
}
h1 {
	font-size: 36px;
	font-family: monospace;
}
h2 {
	font-size: 30px;
}
h1, h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: normal;
	font-family: monospace;
}
p {
	font-size: 14px;
	line-height: 21px;
	margin-bottom: 20px;
}
.main-container{
	font-family: Arial, helvetica, san-serif;
	width: 100%;
	margin: 0 auto;
}
.single-row{
	width: 100%;
}
/*header*/
.left-column {
	width: 63%;
}
.left-column img {
	width: 100%;
	border-radius: 6px;
}
.right-column {
	width: 32%;
}
.left-column, .right-column {
	float: left;
	padding:0px 15px;
}
.submit{
	border-radius:6px;
	padding: 10px 16px 10px 16px;
	font-size: 18px;
	color:#fff;
	background-color: #337ab7;
	text-decoration: none; 
	line-height:28px;
	font-family: monospace;
	display: inline-block;
	text-transform: uppercase;
}
a:hover{
	color:red;
}
.clear-fix {
clear: both;
}

hr{
	margin: 20px 0px;
	border: 0;
	border-top: 1px solid #eee;
}

/* surburbs*/


.NYC {
	width: 30%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.btn{
	font-family: monospace;
	text-transform: uppercase;
	display:inline-block;
	padding: 6px 12px;
	font-size: 14px;
	line-height:21px;
	font-weight:normal;
	cursor:pointer;
	border:1px solid #CECECE;
	text-decoration:none;
	color:#333;
	border-radius:4px;
	}
.btn:hover{
	color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}